[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/prb-math"]
	path = lib/prb-math
	url = https://github.com/paulrberg/prb-math
[submodule "base64"]
	path = base64
	url = https://github.com/Brechtpd/base64
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Brechtpd/base64
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args.git
