[profile.default]
src = 'src'
test = 'tests/forge'
out = 'forge_out'
libs = ['lib']
remappings = [
    '@solmate=lib/solmate/src/',
    '@std=lib/forge-std/src/',
    '@clones=lib/clones-with-immutable-args/src/',
    '@openzeppelin/contracts=lib/openzeppelin-contracts/contracts',
    '@prb-math=lib/prb-math/',
    '@base64-sol=lib/base64/',
    'src/=src/'
]
block_timestamp = 0
optimizer = true
optimizer_runs = 200

[fuzz]
runs = 300