name: Run Tests

on: [push]

env:
  FOUNDRY_PROFILE: ci
  ETH_RPC_URL: ${{secrets.ETH_RPC_URL}} ## Loads environment from secrets

jobs:
  check:
    env:
        QUOTE_PRECISION: 18
        COLLATERAL_PRECISION: 18
        BUCKET_INDEX_ERC20: 2570
        BUCKET_INDEX_ERC721: 850
        NO_OF_BUCKETS: 3
    strategy:
      fail-fast: true

    name: Forge tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run tests
        run: |
          make test-with-gas-report && make test-regression
        id: test