name: Forge Tests

on: [push]

env:
  ## Loads environment from secrets
  ETH_RPC_URL: ${{secrets.ETH_RPC_URL}}
  FOO: bar

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run tests
        run: echo "DEBUG ${{env.ETH_RPC_URL}} ${{env.FOO}}"; make test-with-gas-report

      - name: Run coverage
        continue-on-error: true
        run: make coverage